Pecunia MVC with EF/Pecunia.PresentationMVC/Connected Services/ServiceReference1/TransactionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TeamF.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TeamF.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60667/TransactionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfTransactionDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionDataContract" nillable="true" type="tns:TransactionDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionDataContract" nillable="true" type="tns:ArrayOfTransactionDataContract" />
  <xs:complexType name="TransactionDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="ser:guid" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ChequeNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfTransaction" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionID" type="ser:guid" />
      <xs:element minOccurs="0" name="TypeOfTransaction" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionDataContract" nillable="true" type="tns:TransactionDataContract" />
</xs:schema>