Pecunia MVC with EF/Pecunia.PresentationMVC/Connected Services/ServiceReference1/TransactionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60667/TransactionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TeamF.WCF" />
  <xs:element name="GetAllTransactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TeamF.WCF" minOccurs="0" name="GetAllTransactionsResult" nillable="true" type="q1:ArrayOfTransactionDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>